body{
    margin: 0;
    padding: 0;
}
.wrap{
    /*解决不会设置百分比高度的问题，vm解决*/
    margin-left: 1vmin;
    margin-top: 1vmin;
    display: block;
}
.wrap div{
    width: 31%;
    height: 31vmin;
    float: left;
    background-color: #ffa600;
    border-radius: 15%;
    /*如果加期来超过总宽，就会被压缩*/
    margin: 1vmin;
}
