* {
    margin: 0;
    padding: 0;
}
header{
    width: 100vm;
    height: 40px;
    background-color: #45c0cd;
    display: block;
}
header ul{
    color: #fff;
    /*float: left;*/
    list-style: none;
    margin-left: 0;
}
header ul li{
    display: inline;


}
header ul li .right{
    float: right;
    margin-right: 0;
}

.main-input{
    width: 100vm;

}
.main-input input{
    width:100%;
    display: block;
}